modules = ["nodejs-20", "bash"]
[agent]
expertMode = true
integrations = ["youtube:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37635
externalPort = 6000

[[ports]]
localPort = 38889
externalPort = 6800

[[ports]]
localPort = 40295
externalPort = 8099

[[ports]]
localPort = 40509
externalPort = 3001

[[ports]]
localPort = 40797
externalPort = 8000

[[ports]]
localPort = 40935
externalPort = 9000

[[ports]]
localPort = 41215
externalPort = 5000

[[ports]]
localPort = 42709
externalPort = 8008

[[ports]]
localPort = 43195
externalPort = 8080

[[ports]]
localPort = 43349
externalPort = 4200

[[ports]]
localPort = 43725
externalPort = 8081

[[ports]]
localPort = 44075
externalPort = 5173

[[ports]]
localPort = 44111
externalPort = 3000

[[ports]]
localPort = 45551
externalPort = 3003

[[ports]]
localPort = 46569
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["node", "index.js"]
